<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="OceanAdventure"  version = "2.0" versionCode = "23" >


        <name>Random Hugots</name>
        <author>Jamie Dela Cruz</author>        
		<gap:platforms>
                <gap:platform name="ios" />
                <gap:platform name="android" />
                <gap:platform name="webos" />
                <gap:platform name="symbian.wrt" />
                <gap:platform name="blackberry" project="widgets"/>
        </gap:platforms>

        <icon src="2.png" gap:role="default" />
        <preference name="phonegap-version" value="3.1.0" />
        
        <access origin="*" subdomains="true" />
        <access uri="*" subdomains="true" />
        <feature name="InAppBrowser">
        </feature>
        
        
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="true" />
        <preference name="target-device" value="universal" />

	
</widget>
